<!doctype html>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='pig.gif') }}">

<title>&#x{{emoji.emoji}};</title>
<div class=page>
    <div class=top>
        &#x{{emoji.emoji}}; 
    </div>    
    <div>
        {{emoji.text}}
        <br>
        <br>
        <i> {{emoji.author}} </i>
    </div>
</div>
