<!doctype html>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<style>
body {
    font-weight: lighter;
    font-family: sans-serif; 
    background: white;
    font-size: 16px; 
}

.page {
    padding: 0px 10px 0px 10px;
    margin: auto;
    width: 230px;
    background: white;
}

.top {
    font-size: 36px; 
    text-align: center;
    padding: 20px 0px 30px 0px;
}
</style>

<title>&#x{{emoji.emoji}};</title>
<div class=page>
    <div class=top>
        &#x{{emoji.emoji}}; 
    </div>    
    <div>
        {{emoji.text}}
        <br>
        <br>
        <i> {{emoji.author}} </i>
    </div>
</div>
